version: "2.2"
services:
  mysql:
    image: "mysql:latest"
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: root
  redis:
    image: "redis"
    ports:
      - 6379:6379
  web:
    build: 
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 3000:3000
    environment:
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_DATABASE: lands_division_db
      DB_HOST: mysql
    depends_on:
      - mysql
      - redis
    command:
      - /bin/sh
      - -c 
      - |
        ./wait-for-mysql.sh mysql:3306 -- npx sequelize-cli db:create 
        npx sequelize-cli db:migrate
        npx sequelize-cli db:create 
        npm start
